<section class="relative bg-white py-12 w-full overflow-hidden">
  <div class="w-[80vw] mx-auto overflow-hidden rounded-lg shadow-lg group relative bg-amber-50 py-2">
    <div
      class="carousel-track flex gap-4 px-4 animate-carousel group-hover:[animation-play-state:paused]"
    >
      <div
        *ngFor="let item of extendedItems"
        class="w-[8%] flex-shrink-0 cursor-pointer bg-white p-1 rounded-lg shadow-sm transition-transform hover:scale-105"
        (click)="openModal(item)"
      >
        <img
          [src]="item.image"
          [alt]="item.name"
          class="w-full h-[10rem] object-cover rounded-md"
        />
      </div>
    </div>
  </div>

  <div
    *ngIf="selectedItem"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full relative">
      <h3 class="text-2xl font-bold text-pink-600 mb-4">{{ selectedItem.name }}</h3>
      <img
        [src]="selectedItem.image"
        class="w-full h-60 object-contain rounded mb-4"
        alt="{{ selectedItem.name }}"
      />
      <p class="mb-2">{{ selectedItem.description }}</p>
      <p class="font-bold text-pink-600 mb-4">
        R$ {{ selectedItem.price | number: '1.2-2' }}
      </p>
      <div class="text-right">
        <button
          class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full mr-2"
          (click)="closeModal()"
        >
          Fechar
        </button>
        <button
          class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded-full"
          (click)="makeOrder(selectedItem)"
        >
          Fazer Pedido
        </button>
      </div>
    </div>
  </div>

  <div
    *ngIf="confirmationModalOpen"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-60"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm w-full relative text-center">
      <h3 class="text-xl font-semibold mb-4 text-green-600">
        Produto adicionado no carrinho!
      </h3>
      <button
        class="bg-pink-500 hover:bg-pink-600 text-white font-bold py-2 px-6 rounded-full"
        (click)="closeConfirmationModal()"
      >
        Fechar
      </button>
    </div>
  </div>
</section>
